{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
{% if request.GET.next %}<p>{% trans "You need to log in to access the following page." %}</p>{% endif %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" action="{% url "login" %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans "login" %}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Don't have an acount?" %} <a href="{% url "register" %}">{% trans "Register" %}</a><br />
{% trans "Forgot password?" %} <a href="{% url "password_reset" %}">{% trans "Reset password" %}</a></p>


{% endblock %}
