{% extends "primitive_base.html" %}
{% load i18n %}

{% block head %}{{ block.super }}
<link href="{{STATIC_URL}}teh-tracker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{{STATIC_URL}}admin/{% endfilter %}";</script>
<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<style>
input[type=checkbox] {    
    max-width: 20px;
    max-height: 20px;
}
</style>

{{form_media}}{% endblock %}

{% block language_code %}{{LANGUAGE_CODE}}{% endblock %}

{% block fulltitle %}{% block title %}{% endblock %}{% endblock %}

{% block body %}
<div id="user">{% if user.is_authenticated %}{% trans "user" %}: {{wrapped_user.get_html_link}} (<a href="{% url "password_change" %}">{% trans "change password" %}</a>; <a href="{% url "user_details_change" %}">{% trans "change my details" %}</a>); {% if user.is_staff %}<a href="{% url "admin:index" %}">{% trans "admin" %}</a>; {% endif%}<a href="{% url "choose_language" %}">change language</a>; <a href="{% url "logout" %}">{% trans "logout" %}</a>
{% else %}<a href="{% url "login" %}">{% trans "login" %}</a>; <a href="{% url "register" %}">{% trans "register" %}</a>; <a href="{% url "choose_language" %}">change language</a>
{% endif %}</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}{% endblock %}
{% endblock body %}
