<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{% block language_code %}en{% endblock %}" />
<title>{% block fulltitle %}{% endblock fulltitle %}</title>
{% block head %}{% endblock %}
<link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
{% block body %}{% endblock %}
<!-- Scripts -->
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.tristate.js"></script>
<script type="text/javascript" src="/static/bootstrap.min.js"></script>
<script>
    $('.tristate').tristate()
    </script>
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{{STATIC_URL}}admin/{% endfilter %}";</script>
<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>

<!-- Datatables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}datatables-init.js"></script>

<!-- Custom scripts -->
{% block scripts %}{% endblock %}
</body>
</html>
