{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}ticketack.js"></script>
{% endblock extrahead %}

{% block form_top %}<div>{% trans "Ticket ID" %}: {{object_id}}</div>
<div style="float:right">
<h2>{% trans "Approvals" %}</h2>
<ul class="ack-set" data-handler="alter_acks/">{% for ack in original.ticketack_set.all %}
	<li>{{ack.get_ack_type_display}}{% if ack.comment %}: {{ack.comment}}{% endif %}{% if ack.added_by %} --{{ack.added_by}},{% else %};{% endif %} {{ack.added}} <a href="#">REMOVE TODO</a></li>
{% endfor %}
	<li class="add-ack">ADD ACK</li>
</ul>
</div>

{% endblock form_top %}

{% block after_related_objects %}{% if user_can_edit_documents or original.document_set.count > 0 %}
<fieldset class="module">
	<h2>{% trans "Ticket documents" %}</h2>
	{% if user_can_see_documents %}
		{% if user_can_edit_documents %}<ul class="object-tools" style="margin-top: 0.5em; ">
			<li><a href="{% url edit_ticket_docs original.id %}">{% trans "edit ticket documents" %}</a></li>
		</ul>{% endif %}
		{% if original.document_set.count > 0 %}
			<ul>{% for doc in original.document_set.all %}
				<li>{{doc.html_item}}</li>
			{% endfor %}</ul>
		{% else %}
			<p>{% trans "There are no documents uploaded for this ticket." %}</p>
		{% endif %}
	{% else %}
		<p>{% blocktrans count counter=original.document_set.count %}There is 1 document uploaded.{% plural %}There are {{counter}} documents uploaded.{% endblocktrans %}</p>
	{% endif %}
</fieldset>
{% endif %}{% endblock after_related_objects %}
