{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}ticketack.js"></script>
<!-- {{ user.get_username }} -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ticketack.css" />
{% endblock extrahead %}

{% block form_top %}<div>{% trans "Ticket ID" %}: {{object_id}}</div>
<div style="float:right">
<h2>{% trans "Approvals" %}</h2>
<ul class="ack-set" data-add-handler="acks/add/" data-remove-handler="acks/remove/" data-token="{{csrf_token}}">{% for ack in original.ticketack_set.all %}
	<li data-id="{{ack.id}}">{% include "admin/tracker/ticket/ack_line.html" %}</li>
{% endfor %}
	<li class="add-block"><a href="#" class="add-ack">ADD ACK</a></li>
</ul>
</div>

{% endblock form_top %}

{% block after_related_objects %}
<script type="text/javascript">
document.getElementById('id_supervisor_notes').onclick = function() {signSupervisor()};
function signSupervisor() {
	    var param = "\n\nSem napište svou poznámku supervizora anebo tento text smažte --" + "{{user.get_username}}";
		document.getElementById('id_supervisor_notes').value += param;
		document.getElementById('id_supervisor_notes').onclick = function() {};
}
</script>
{% if user_can_edit_documents or original.document_set.count > 0 %}
<fieldset class="module">
	<h2>{% trans "Ticket documents" %}</h2>
	{% if user_can_see_documents %}
		{% if user_can_edit_documents %}<ul class="object-tools" style="margin-top: 0.5em; ">
			<li><a href="{% url "edit_ticket_docs" original.id %}">{% trans "edit ticket documents" %}</a></li>
		</ul>{% endif %}
		{% if original.document_set.count > 0 %}
			<ul>{% for doc in original.document_set.all %}
				<li>{{doc.html_item}}</li>
			{% endfor %}</ul>
		{% else %}
			<p>{% trans "There are no documents uploaded for this ticket." %}</p>
		{% endif %}
	{% else %}
		<p>{% blocktrans count counter=original.document_set.count %}There is 1 document uploaded.{% plural %}There are {{counter}} documents uploaded.{% endblocktrans %}</p>
	{% endif %}
</fieldset>
{% endif %}{% endblock after_related_objects %}
