{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create ticket" %}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt;</p>
<h1>{% trans "Create ticket" %}</h1>
{% block above_form %}{% endblock %}
{% url create_ticket as action %}
{% include "tracker/ticket_form.html"%}
{% block below_form %}
<p>({% trans "You'll be able to edit everything you've filled in even after submitting the form." %})</p>
{% endblock %}
{% endblock content %}
