{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Ticket list" %}{% endblock %}

{% block head %}{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="{% trans 'Latest tickets' %}" href="{% url "ticket_list_feed" %}" />
<link rel="alternate" type="application/rss+xml" title="{% trans 'Latest submitted tickets' %}" href="{% url "ticket_submitted_feed" %}" />
{% endblock %}

{% block content %}
<p class="nav">{% trans "index" %} | <a href="{% url "topic_list" %}">{% trans "topics" %}</a> | <a href="{% url "transaction_list" %}">{% trans "transactions" %}</a> | <a href="{% url "user_list" %}">{% trans "users" %}</a></p>
{% if user.is_authenticated %}<p class="tools screenonly"><a href="{% url "create_ticket" %}">{% trans "Create new ticket" %}</a></p>{% endif %}
{% include "tracker/paginator.html" with url_name="ticket_list" extra_class="top" %}
<h1>{% trans "Ticket list" %}</h1>

{% block above_list %}{% endblock %}

{% if ticket_list %}
{% include "tracker/ticket_table.html" with show_expenses="True" show_topics="True" show_requester="True" show_grants="True" %}
{% else %}
<p>{% trans "No tickets available." %}</p>
{% endif %}
{% block below_list %}{% endblock %}

{% include "tracker/paginator.html" with url_name="ticket_list" extra_class="bottom" %}

{% if user.is_authenticated %}<p><a href="{% url "create_ticket" %}">{% trans "Create new ticket" %}</a></p>{% endif %}
{% endblock content %}
