{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Ticket list" %}{% endblock %}

{% block content %}
<p class="nav">{% trans "index" %}</p>
<h1>{% trans "Ticket list" %}</h1>
{% block above_list %}{% endblock %}

{% if ticket_list %}{% with "True" as link_topics %}
{% include "tracker/ticket_table.html" %}
{% endwith %}{% else %}
<p>{% trans "No tickets available." %}</p>
{% endif %}
{% block below_list %}{% endblock %}

{% if user.is_authenticated %}<p><a href="{% url create_ticket %}">{% trans "Create new ticket" %}</a></p>{% endif %}
{% endblock content %}
