{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Ticket list" %}{% endblock %}

{% block content %}
<h1>{% trans "Ticket list" %}</h1>
{% block above_list %}{% endblock %}

{% if ticket_list %}
<table>
<tr><th>{% trans "ID" %}</th><th>{% trans "Summary" %}</th><th>{% trans "Topic" %}</th><th>{% trans "Requested by" %}</th>
<th><abbr title="{% trans "Item/file count" %}">{% trans "Media" %}</abbr></th><th>{% trans "Expeditures" %}</th>
<th>{% trans "Status" %}</th><th>{% trans "Last changed" %}</th></tr>

{% for ticket in ticket_list %}
<tr><td><a href="{% url ticket_detail ticket.id %}">{{ticket.id}}</a></a></td><td><a href="{% url ticket_detail ticket.id %}">{{ticket.summary}}</a></td><td>{{ticket.topic}}</td><td>{{ticket.requested_by}}</td>
<td>{% if ticket.media_count.objects > 0 %}{{ticket.media_count.objects}}/{{ticket.media_count.media}}{% endif %}</td>
<td>{% if ticket.expeditures.count > 0 %}{{ticket.expeditures.amount}}&nbsp;{{ticket.currency}}{% endif %}</td>
<td>{{ticket.status}}</td><td>{{ticket.updated}}</td></tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "No tickets available." %}</p>
{% endif %}
{% block below_list %}{% endblock %}

{% if user.is_authenticated %}<p><a href="{% url create_ticket %}">{% trans "Create new ticket" %}</a></p>{% endif %}
{% endblock content %}
