{% extends "base.html" %}
{% load i18n %}
{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}datatables-init.js"></script>
{% endblock %}

{% block title %}{% trans "Topic list" %}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url "ticket_list" %}">{% trans "index" %}</a> &gt;</p>
<h1>{% trans "Topic list" %}</h1>
{% block above_list %}{% endblock %}
{% include "tracker/topic_table.html" with show_grants="True" topic_list=open_topics %}

<h3>{% trans "Topics closed for new tickets" %}</h3>
{% include "tracker/topic_table.html" with show_grants="True" topic_list=closed_topics %}
{% block below_list %}{% endblock %}

<p>
<a href="{% url "topic_finance" %}">{% trans "topic finance" %}</a>
<a href="{% url "topic_content_acks_per_user" %}">{% trans "topic ack overview" %}</a>
</p>

{% endblock content %}
