{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}
{% block title %}{% trans "Users" %}{{block.super}}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url "admin:index" %}">
        {% trans "Home" %}
      </a>
      &rsaquo;
      {% trans "Tracker users" %}
    </div>
  {% endblock %}

{% block content %}
<div id="content-main"><div class="results">

<table cellspacing="0" id="result_list" style="border: 1px solid #ccc">
<thead><tr>
<th scope="col">{% trans "Username" %}</th>
<th scope="col">{% trans "E-mail" %}</th>
{% if is_tracker_supervisor %}
<th scope="col">{% trans "First name" %}</th>
<th scope="col">{% trans "Last name" %}</th>
<th scope="col">{% trans "Bank account" %}</th>
<th scope="col">{% trans "Other contact" %}</th>
<th scope="col">{% trans "Other identification" %}</th>
{% else %}
<th scope="col">{% trans "Other contact" %}</th>
{% endif %}
</tr></thead>

<tbody>
{% for u in user_list %}{% with up=u.trackerprofile %}<tr class="{% cycle "row1" "row2" %}">
<th>{{u.username}}</th><td>{{u.email}}</td>
{% if is_tracker_supervisor %}
<td>{{u.first_name}}</td><td>{{u.last_name}}</td><td>{{up.bank_account}}</td><td>{{up.other_contact}}</td><td>{{up.other_identification}}</td>
{% else %}
<td>{{up.other_contact}}</td>
{% endif %}
</tr>{% endwith %}{% endfor %}
</tbody></table>

</div></div>
{% endblock content %}
