{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit documents" %}: {{ticket.summary}}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt; <a href="{% url ticket_detail ticket.id %}">{{ticket.summary}}</a> &gt; <a href="{% url edit_ticket ticket.id %}">{% trans "edit" %}</a> &gt;</p>
<h1>{% trans "Edit documents" %}: {{ticket.summary}}</h1>

<ul>
{% for doc in ticket.document_set.all %}
<li>{{doc.filename}} ({{doc.content_type}}, {{doc.size|filesizeformat}}){% if doc.description %}<br>{{doc.description}}{% endif %}</li>
{% endfor %}
</ul>

{% endblock content %}
