{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Import" %}{% endblock %}

{% block content %}
<h1>{% trans "Import" %}</h1>

<div class="alert alert-info">
	<p>{% trans "Be warned that if you are not a superuser you can not import more than 100 row. If you'll submit CSV longer than 100 rows, only first 100 will be processed. If you really need to import so many objects, please contact the systemadmin. " %}</p>
</div>

<form enctype="multipart/form-data" class="form-horizontal" method="POST">
    {% trans "What kind of objects are you importing?" %}
    <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="type" id="type1" value="ticket" checked="">
            {% trans "Tickets" %} (<a href="?examplefile=ticket">{% trans "example file" %}</a>)
          </label>
        </div>
	{% if request.user.is_staff %}
        <div class="radio">
          <label>
            <input type="radio" name="type" id="type2" value="topic">
	    {% trans "Topics" %} (<a href="?examplefile=topic">{% trans "example file" %}</a>)
	  </label>
        </div>
	{% endif %}
	{% if request.user.is_staff %}
        <div class="radio">
          <label>
            <input type="radio" name="type" id="type3" value="grant">
	    {% trans "Grants" %} (<a href="?examplefile=grant">{% trans "example file" %}</a>)
	  </label>
        </div>
	{% endif %}
        <div class="radio">
	  <label>
	    <input type="radio" name="type" id="type4" value="preexpense">
	    {% trans "Preexpenses" %} (<a href="?examplefile=preexpense">{% trans "example file" %}</a>)
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="type" id="type5" value="expense">
	    {% trans "Expenses" %} (<a href="?examplefile=expense">{% trans "example file" %}</a>)
	  </label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="type" id="type7" value="media">
			{% trans "Media" %} (<a href="?examplefile=media">{% trans "example file" %}</a>)
		</label>
	</div>
	{% if request.user.is_superuser %}
	<div class="radio">
	  <label>
	    <input type="radio" name="type" id="type6" value="user">
	    {% trans "Users" %} (<a href="?examplefile=user">{% trans "example file" %}</a>)
	  </label>
	</div>
	{% endif %}
    </div>
    <div class="form-group">
	<input class="form-control" type="file" accept=".csv" name="csvfile">
    </div>
    <div class="form-group">
	<input class="form-control" type="submit">
    </div>
    {% csrf_token %}
</form>
{% endblock content %}
