{% extends "base.html" %}
{% load i18n comments recaptcha2 %}

{% block title %}{{ subtopic.name }}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url "ticket_list" %}">{% trans "index" %}</a> &gt; <a href="{% url "topic_list" %}">{% trans "topics" %}</a> &gt; <a href="{{subtopic.topic.grant.get_absolute_url}}">{{subtopic.topic.grant.short_name}}</a> &gt; <a href="">{{ subtopic.topic }}</a> &gt;</p>
<h1>{{ subtopic.name }}</h1>

{% if subtopic.description %}<div>{{ subtopic.description|safe|linebreaks }}</div>{% endif %}

{% if subtopic.ticket_set.all|length > 0 %}
<h2>{% trans "Tickets" %}</h2>
{% include "tracker/ticket_table.html" with ticket_list=subtopic.ticket_set.all show_media=subtopic.topic.ticket_media show_expenses=subtopic.topic.ticket_expenses summary_item=subtopic show_requester="True" total_desc=_("Total for this subtopic") total_colspan=4 %}
{% endif %}
{% endblock %}