{% load i18n adminmedia %}
<div id="{{ formset.prefix }}-group">
{{ formset.management_form }}
<fieldset>
   <h2>{{ formset_title }}</h2>
   {{ formset.non_form_errors }}
   <table>
     <thead><tr>
         {% for field in formset.0.visible_fields %}
             {% if field.name == "DELETE" %}
                 <th>{% trans "delete" %}</th>
             {% else %}
                 <th{% if field.field.required %} class="required"{% endif %}>{% trans field.name %}</th>
             {% endif %}
         {% endfor %}
     </tr><tr>
         {% for field in formset.0.visible_fields %}
             {% if field.name == "DELETE" %}
                 <td class="helptext">{% trans "Delete the item" %}</td>
             {% else %}
                 <td class="helptext">{% trans field.help_text %}</td>
             {% endif %}
         {% endfor %}
     </tr></thead>

     <tbody>
     {% for inline_admin_form in formset %}
        {% if inline_admin_form.form.non_field_errors %}
        <tr><td>{{ inline_admin_form.form.non_field_errors }}</td></tr>
        {% endif %}
        <tr id="{{ formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}"{% if forloop.last %} class="empty-form"{% endif %}>
            <td class="hidden">
               {% for field in inline_admin_form.hidden_fields %}{{ field }}{% endfor %}
            </td>
            {% for field in inline_admin_form.visible_fields %}
              <td class="field_{{ field.name }}{% if field.field.required %} required{% endif %}">             
                  {% if field.name == "DELETE" %}<span class="delete">{% trans "delete" %}{% else %}{% trans field.name %}</span>{% endif %}
                  {{ field.errors.as_ul }}
                  {{ field }}
              </td>
            {% endfor %}
        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var rows = "#{{ formset.prefix }}-group fieldset tbody tr";
        var reinitDateTimeShortCuts = function() {
            // Reinitialize the calendar and clock widgets by force
            if (typeof DateTimeShortcuts != "undefined") {
                $(".datetimeshortcuts").remove();
                DateTimeShortcuts.init();
            }
        }
        var updateSelectFilter = function() {
            // If any SelectFilter widgets are a part of the new form,
            // instantiate a new SelectFilter instance for it.
            if (typeof SelectFilter != "undefined"){
                $(".selectfilter").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], false, "{% admin_media_prefix %}");
                });
                $(".selectfilterstacked").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], true, "{% admin_media_prefix %}");
                });
            }
        }
        var initPrepopulatedFields = function(row) {
            row.find('.prepopulated_field').each(function() {
                var field = $(this);
                var input = field.find('input, select, textarea');
                var dependency_list = input.data('dependency_list') || [];
                var dependencies = [];
                $.each(dependency_list, function(i, field_name) {
                  dependencies.push('#' + row.find(field_name).find('input, select, textarea').attr('id'));
                });
                if (dependencies.length) {
                    input.prepopulate(dependencies, input.attr('maxlength'));
                }
            });
        }
        $(rows).formset({
            prefix: "{{ formset.prefix }}",
            addText: "{% blocktrans %}Add another {{ formset_item_name }}{% endblocktrans %}",
            formCssClass: "dynamic-{{ formset.prefix }}",
            deleteCssClass: "inline-deletelink",
            deleteText: "{% trans "Remove" %}",
            emptyCssClass: "empty-form",
            added: (function(row) {
                row.find('.field_DELETE .delete').empty();
                initPrepopulatedFields(row);
                reinitDateTimeShortCuts();
                updateSelectFilter();
            })
        });
    });
</script>
