{% load i18n %}
<table class="ticket_list">
{% if show_media %}
<tr><th rowspan="2">{% trans "ID" %}</th><th rowspan="2">{% trans "Date" %}</th><th rowspan="2">{% trans "Summary" %}</th>{% if show_topics %}<th rowspan="2">{% trans "Topic" %}</th>{% endif %}{% if show_requester %}<th rowspan="2">{% trans "Requested by" %}</th>{% endif %}
<th colspan="3" class="uber-th">{% trans "Media" %}</th>
{% if show_expenses %}<th rowspan="2">{% trans "Expeditures" %}</th>{% endif %}
<th rowspan="2">{% trans "Status" %}</th>
{% if show_expenses %}<th rowspan="2">{% trans "Accepted expeditures" %}</th>{% endif %}
<th rowspan="2">{% trans "Last changed" %}</th></tr>
<tr><th>{% trans "Media item list" %}</th><th><abbr title="{% trans "Item count" %}">{% trans "Itm." %}</abbr></th>
<th><abbr title="{% trans "File count" %}">{% trans "Fil." %}</abbr></th></tr>
{% else %}
<tr><th>{% trans "ID" %}</th><th>{% trans "Date" %}</th><th>{% trans "Summary" %}</th>{% if show_topics %}<th>{% trans "Topic" %}</th>{% endif %}{% if show_requester %}<th>{% trans "Requested by" %}</th>{% endif %}
{% if show_expenses %}<th>{% trans "Expeditures" %}</th>{% endif %}
<th>{% trans "State" %}</th>
{% if show_expenses %}<th>{% trans "Accepted expeditures" %}</th>{% endif %}
<th>{% trans "Last changed" %}</th></tr>
{% endif %}

{% for ticket in ticket_list %}
<tr>
<td><a href="{% url ticket_detail ticket.id %}">{{ticket.id}}</a></a></td>
<td>{{ticket.event_date|default_if_none:""}}</td>
<td><a href="{% url ticket_detail ticket.id %}">{{ticket.summary}}</a></td>
{% if show_topics %}<td><a href="{% url topic_detail ticket.topic.id %}">{{ticket.topic}}</a></td>{% endif %}
{% if show_requester %}<td>{{ticket.requested_by_html}}</td>{% endif %}

{% if show_media %}
{# media info #}<td>{% for item in ticket.mediainfo_set.all %}{% if item.url %}<a href="{{item.url}}">{{item.description}}</a>{% else %}{{item.description}}{% endif %}{% if item.count %} ({{item.count}}){% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
{# item/file counts #}{% if ticket.media_count.objects > 0 %}<td>{{ticket.media_count.objects}}</td><td>{{ticket.media_count.media|default:""}}</td>{% else %}<td></td><td></td>{% endif %}
{% endif %}
{% if show_expenses %}
{# expeditures #}<td class="money">{% if ticket.expeditures.count > 0 %}{{ticket.expeditures.amount}}&nbsp;{{ticket.currency}}{% endif %}</td>
{% endif %}

<td>{{ticket.state_str}}</td>
{% if show_expenses %}{% with accepted=ticket.accepted_expeditures %}
<td class="money">{% if accepted > 0 %}{{accepted}}&nbsp;{{ticket.currency}}{% endif %}</td>
{% endwith %}{% endif %}


<td>{{ticket.updated}}</td></tr>
{% endfor %}

{% if show_media or show_expenses %}{% if summary_item %}
<tr class="total">
<td colspan="{% if show_media %}5{% else %}4{% endif %}">{{total_desc}}</td>
{% if show_media %}
	{% if summary_item.media_count.objects > 0 %}<td>{{summary_item.media_count.objects}}</td><td>{{summary_item.media_count.media|default:""}}</td>{% else %}<td></td><td></td>{% endif %}
{% endif %}
{% if show_expenses %}
	<td class="money">{% if summary_item.expeditures.count > 0 %}{{summary_item.expeditures.amount}}&nbsp;{{ticket_list.0.currency}}{% endif %}</td>
	<td></td>
	<td class="money">{{summary_item.accepted_expeditures}}&nbsp;{{ticket_list.0.currency}}</td>
	<td></td>
{% else %}
	<td colspan="3"></td>
{% endif %}
</tr>
{% endif %}{% endif %}
</table>
