{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{{ ticket.summary }}{% endblock %}

{% block content %}
<h1>{{ ticket.summary }}</h1>
<p>{% trans "Created" %}: {{ ticket.created }}, {% trans "last changed" %}: {{ ticket.updated }}<br />
{% trans "Requested by" %}: {{ ticket.requested_by }}<br />
{% trans "Topic" %}: {{ ticket.topic }}<br />
{% trans "Status" %}: {{ ticket.status }}</p>

<div>{{ ticket.description|safe|linebreaks }}</div>
{% get_comment_count for ticket as comment_count %}
{% if comment_count %}
<h2>{% trans "Comments" %} ({{comment_count}})</h2>
{% render_comment_list for ticket %}
{% else %}
<h2>{% trans "Comments" %}</h2>
<p>{% trans "There are no comments yet." %}</p>
{% endif %}

<h3>{% trans "Add comment" %}</h3>
{% render_comment_form for ticket %}

{% endblock content %}