{% load i18n widget_tweaks %}
<form class="form-horizontal" method="post" action="{{action}}">
{{ ticketform.non_field_errors }}
{% for field in ticketform %}
{% if field.name == "tags" %}
<p class="field_{{field.name}}{% if field.field.required %} required{% endif %}">{{field.errors.as_ul}}<label for="id_{{ field.name }}">{{ field.label }}:</label>
    <select name="tags" multiple id="tags" class="form-control"></select>
<span class="helptext">{{ field.help_text }}</span></p>
{% else %}
<p class="field_{{field.name}}{% if field.field.required %} required{% endif %}">{{field.errors.as_ul}}<label for="id_{{ field.name }}">{{ field.label }}:</label> {{ field|add_class:"form-control" }}<span class="helptext">{{ field.help_text }}</span></p>
{% endif %}
{% if field.name == "topic" %}<p id="topic_desc"></p>{% endif %}
{% endfor %}

{# mediainfo formset #}
{% include "tracker/tabular_formset.html" with formset=mediainfo formset_title=_("Related files") formset_item_name=_("file") section="file" %}

{% if preexpeditures %}
{# preexpediture formset #}
{% include "tracker/tabular_formset.html" with formset=preexpeditures formset_title=_("Preexpeditures") formset_item_name=_("preexpediture") section="preexpediture" %}
{% endif %}

{% if expeditures %}
{# expediture formset #}
{% include "tracker/tabular_formset.html" with formset=expeditures formset_title=_("Expeditures") formset_item_name=_("expediture") section="expediture" %}
{% endif %}

{% csrf_token %}
<button class="btn btn-primary" type="submit" value="{{ submit|default:_("submit") }}">{% trans "Save" %}</button>
<p>{% blocktrans with mark='<span style="color:red">*</span>' %}Fields marked with {{mark}} are required.{% endblocktrans %}</p>
</form>
