{% load i18n %}
<form method="post" action="{{action}}">
{{ ticketform.non_field_errors }}
{% for field in ticketform %}
<p class="field_{{field.name}} {% if field.field.required %} required{% endif %}"><label for="id_{{ field.name }}">{{ field.label }}:</label> {{ field }}<span class="helptext">{{ field.help_text }}</span></p>
{% if field.name == "topic" %}<p id="topic_desc"></p>{% endif %}
{% endfor %}

{# mediainfo formset #}
{% include "tracker/tabular_formset.html" with formset=mediainfo formset_title=_("Related files") formset_item_name=_("file") %}

{% csrf_token %}
<input type="submit" value="{{ submit|default:_("submit") }}" />
<p>{% blocktrans with mark='<span style="color:red">*</span>' %}Fields marked with {{mark}} are required.{% endblocktrans %}</p>
</form>
