{% extends "base.html" %}
{% load i18n comments recaptcha2  trackertags %}

{% block head %}{{ block.super }}
<script src="{{STATIC_URL}}admin/js/jquery.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}hiding.js" type="text/javascript"></script>
{% recaptcha_init %}
{% endblock %}

{% block title %}{{ ticket.summary }}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url "ticket_list" %}">{% trans "index" %}</a> &gt; <a href="{% url "topic_list" %}">{% trans "topics" %}</a> &gt; <a href="{{ticket.topic.grant.get_absolute_url}}">{{ticket.topic.grant.short_name}}</a> &gt; <a href="{% url "topic_detail" ticket.topic.id %}">{{ticket.topic}}</a> &gt;</p>
<div id="ticket_id">{{ticket.id}}</div>
<h1>{{ ticket.summary }}</h1>
{% if user_can_edit_ticket or user_can_edit_ticket_in_admin or user.is_authenticated %}<p class="screenonly">
	{% if user_can_edit_ticket %}<a href="{% url "edit_ticket" ticket.id %}">{% trans "edit ticket" %}</a>{% endif %}
	{% if user_can_edit_ticket_in_admin %}<a href="{% url "admin:tracker_ticket_change" ticket.id %}">{% trans "edit in admin" %}</a>{% endif %}
	{% if user_can_edit_documents %}<a href="{% url "edit_ticket_docs" ticket.id %}">{% trans "edit ticket documents" %}</a>{% endif %}
	{% if user.is_authenticated %}<a href="{% url "create_ticket"%}?ticket={{ticket.id}}">{% trans "duplicate" %}</a>{% endif %}
</p>{% endif %}

{% include "tracker/ticket_common_detail.html" with active_links=True %}

{% if ticket.transaction_set.all.count > 0 %}
<h2>{% trans "Transactions" %}</h2>
<p>{% trans "Payment status" %}: {{ticket.get_payment_status_display}}{% if ticket.cluster.more_tickets %} ({% blocktrans with c_id=ticket.cluster.id c_link=ticket.cluster.get_absolute_url cr=CURRENCY total_tickets=ticket.cluster.total_tickets total_transactions=ticket.cluster.total_transactions %}part of <a href="{{c_link}}">cluster {{c_id}}</a>: total tickets {{total_tickets}}&nbsp;{{cr}}, total transactions {{total_transactions}}&nbsp;{{cr}}{% endblocktrans %}){% endif %}</p>
<table><tr><th>{% trans "Date" %}</th><th>{% trans "User" %}</th><th>{% trans "Amount" %}</th><th>{% trans "Description" %}</th><th>{% trans "Accounting info" %}</th></tr>
{% for t in ticket.transaction_set.all %}
<tr><td>{{t.date}}</td><td>{{t.other_party_html}}</td><td class="money">{{t.amount|money}}</td><td>{{t.description}}</td><td>{{t.accounting_info}}</td></tr>
{% endfor %}
<tr class="total first_total">
<td colspan="2">{% trans "Associated transactions total" %}</td>
<td class="money">{{ticket.associated_transactions_total|money}}</td>
<td colspan="2">
</tr>
</table>
{% endif %}

{% if ticket.document_set.count > 0 %}
<h2>{% trans "Documents" %}</h2>
{% if user_can_see_documents %}
<ul>{% for doc in ticket.document_set.all %}
	<li>{{doc.html_item}}</li>
{% endfor %}</ul>
{% else %}
<p>{% blocktrans count counter=ticket.document_set.count %}There is 1 document uploaded.{% plural %}There are {{counter}} documents uploaded.{% endblocktrans %}</p>
{% endif %}
{% endif %}

{% get_comment_count for ticket as comment_count %}
{% if comment_count %}
<h2>{% trans "Comments" %} ({{comment_count}})</h2>
{% render_comment_list for ticket %}
{% else %}
<div class="comments_empty">
<h2>{% trans "Comments" %}</h2>
<p>{% trans "There are no comments yet." %}</p>
</div>
{% endif %}

<div class="comments_add">
<div class="hide-switch"><a href="#" class="unhide">{% trans "Add comment" %}</a>
<div class="hidden">
<h3>{% trans "Add comment" %}</h3>
{% url "ticket_detail" pk=ticket.id as next %}{% render_comment_form for ticket %}
</div></div></div>

{% endblock content %}
