{% load i18n trackertags %}
<link rel="stylesheet" href="{{STATIC_URL}}font-awesome.min.css">
<style>
    .container {
        width: 100% !important;
    }
</style>
<script type="text/javascript">
	$(document).ready(function() {
		var language = $('meta[http-equiv="Content-Language"]').attr('content');
		var fullLanguage = "English";
		switch(language) {
			case "cs":
				fullLanguage = "Czech";
		}
		var url = "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/" + fullLanguage + ".json";
    	$('.ticket_list').DataTable({
			"order": [[ 0, "desc "]],
			"language": {
				"url": url,
			}
		});
} );
</script>

<table class="ticket_list table table-striped table-hover">
{% if show_media %}
<thead>
	<tr><th rowspan="2">{% trans "ID" %}</th><th rowspan="2">{% trans "Event date" %}</th><th rowspan="2">{% trans "Summary" %}</th>
		{% if show_grants %}<th rowspan="2"><abbr title="{% trans "Grant" %}">{% filter slice:":2" %}{% trans "Grant" %}{% endfilter %}<abbr></th>{% endif %}
		{% if show_topics %}<th rowspan="2">{% trans "Topic" %}</th>{% endif %}
		{% if show_requester %}<th rowspan="2">{% trans "Requested by" %}</th>{% endif %}
		<th colspan="3" class="uber-th">{% trans "Media" %}</th>
		{% if show_expenses %}<th rowspan="2">{% trans "Requested expeditures" %}</th>{% endif %}
		{% if show_expenses %}<th rowspan="2">{% trans "Accepted expeditures" %}</th>{% endif %}
		{% if show_expenses %}<th rowspan="2">{% trans "Paid expeditures" %}</th>{% endif %}
		<th rowspan="2">{% trans "Status" %}</th>
		<th rowspan="2">{% trans "Last changed" %}</th></tr>
		<tr><th>{% trans "Media item list" %}</th><th><abbr title="{% trans "Item count" %}">{% trans "Itm." %}</abbr></th>
		<th><abbr title="{% trans "File count" %}">{% trans "Fil." %}</abbr></th></tr>
</thead>
{% else %}
<thead>
	<tr><th>{% trans "ID" %} <i class="fa "></i></th><th>{% trans "Event date" %}</th><th>{% trans "Summary" %} <i class="fa "></i></th>
		{% if show_grants %}<th><abbr title="{% trans "Grant" %}">{% filter slice:":2" %}{% trans "Grant" %}{% endfilter %}<abbr></th>{% endif %}
		{% if show_topics %}<th>{% trans "Topic" %} <i class="fa "></i></th>{% endif %}
		{% if show_requester %}<th>{% trans "Requested by" %}</th>{% endif %}
		{% if show_expenses %}<th>{% trans "Requested expeditures" %}</th>{% endif %}
		{% if show_expenses %}<th>{% trans "Accepted expeditures" %}</th>{% endif %}
		{% if show_expenses %}<th>{% trans "Paid expeditures" %}</th>{% endif %}
		<th>{% trans "State" %}</th>
		<th>{% trans "Last changed" %} <i class="fa "></i></th></tr>
		
</thead>
{% endif %}
<tbody>
	{% for ticket in ticket_list %}
	<td><a href="{% url "ticket_detail" ticket.id %}">{{ticket.id}}</a></a></td>
	<td>{{ticket.sort_date}}</td>
	<td class="ticket-summary"><a href="{% url "ticket_detail" ticket.id %}">{{ticket.summary}}</a></td>
	{% if show_grants %}<td><a href="{{ticket.topic.grant.get_absolute_url}}" title="{{ticket.topic.grant.full_name}}">{{ticket.topic.grant.short_name}}</a></td>{% endif %}
	{% if show_topics %}<td><a href="{{ticket.topic.get_absolute_url}}">{{ticket.topic}}</a></td>{% endif %}
	{% if show_requester %}<td>{{ticket.requested_by_html}}</td>{% endif %}
	
	{% if show_media %}
	{# media info #}<td>{% for item in ticket.mediainfo_set.all %}{% if item.url %}<a href="{{item.url}}">{{item.description}}</a>{% else %}{{item.description}}{% endif %}{% if item.count %} ({{item.count}}){% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
	{# item/file counts #}{% if ticket.media_count.objects > 0 %}<td>{{ticket.media_count.objects}}</td><td>{{ticket.media_count.media|default:""}}</td>{% else %}<td></td><td></td>{% endif %}
	{% endif %}
	{% if show_expenses %}
	{# expeditures #}<td class="money">{% if ticket.preexpeditures.count > 0 %}{{ticket.preexpeditures.amount|money}}{% endif %}</td>
	{% endif %}
	
	{% if show_expenses %}{% with accepted=ticket.accepted_expeditures %}
	<td class="money">{% if accepted > 0 %}{{accepted|money}}{% endif %}</td>
	{% endwith %}{% endif %}
	{% if show_expenses %}{% with paid=ticket.paid_expeditures %}
	<td class="money">{% if paid > 0 %}{{paid|money}}{% endif %}</td>
	{% endwith %}{% endif %}
	<td>{{ticket.state_str}}</td>
	
	
	<td>{{ticket.updated}}</td></tr>
	{% endfor %}
	
</tbody>

{% if show_media or show_expenses %}{% if summary_item %}
<tfoot>
	<tr class="total">
		<td colspan="{{total_colspan}}">{{total_desc}}</td>
		{% if show_media %}
			<td></td>
			{% if summary_item.media_count.objects > 0 %}<td>{{summary_item.media_count.objects}}</td><td>{{summary_item.media_count.media|default:""}}</td>{% else %}<td></td><td></td>{% endif %}
		{% endif %}
		{% if show_expenses %}
			<td class="money">{% if summary_item.expeditures.count > 0 %}{{summary_item.preexpeditures.amount|money}}{% endif %}</td>
			<td class="money">{{summary_item.accepted_expeditures|money}}</td>
			<td colspan="3"></td>
		{% else %}
			<td colspan="4"></td>
		{% endif %}
		</tr>
		{% endif %}{% endif %}
</tfoot>
</table>
