{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block title %}{% trans "Add" %}: {{ticket.summary}}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url "ticket_list" %}">{% trans "index" %}</a> &gt; <a href="{% url "ticket_detail" ticket.id %}">{{ticket.summary}}</a> &gt; {% trans "confirmations" %} &gt;</p>
<h1>{% trans "Add" %}: {{ticketack.display}}</h1>

<form method="POST" action="">
{% for field in form %}
{{ field.error }}
{{ field.label_tag }} 
<div class="row">
<div class="col-xs-9">
{{ field|add_class:"form-control" }}
{% endfor %}
</div>
<div class="col-xs-3">
{% csrf_token %}
<input class="form-control" type="submit" value="{% trans "Submit" %}">
</div>
</div>
</form>
<br />
<a href="{{ticket.get_absolute_url}}">{% trans "back to ticket" %}</a>
</form></p>
{% endblock %}
