{% extends "base.html" %}

{% block title %}Ticket list{% endblock %}

{% block content %}
{% if ticket_list %}
<table>
<tr><th>ID</th><th>Summary</th><th>Topic</th><th>Requested by</th><th>Status</th><th>Last changed</th></tr>
{% for ticket in ticket_list %}
<tr><td><a href="{% url ticket_detail ticket.id %}">{{ticket.id}}</a></a></td><td><a href="{% url ticket_detail ticket.id %}">{{ticket.summary}}</a></td><td>{{ticket.topic}}</td><td>{{ticket.requested_by}}</td><td>{{ticket.status}}</td><td>{{ticket.updated}}</td></tr>
{% endfor %}
</table>
{% else %}
<p>No tickets available.</p>
{% endif %}
{% if user.is_authenticated %}<p><a href="{% url create_ticket %}">Create new ticket</a></p>{% endif %}
{% endblock content %}
