{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Watch ticket" %} - {{ticket}}{% endblock %}

{% block content %}
<h1>{% trans "Watch ticket" %} {{ticket}}</h1>
<div class="container">
    <form enctype="multipart/form-data" class="form-horizontal" method="POST">
        {% csrf_token %}
        {% trans "What events you want to watch?" %}
        <div class="form-groups">
            {% for notification_type in notification_types %}
            <div class="row">
                <input type="checkbox" name="{{notification_type.0}}" id="{{notification_type.0}}" {% if notification_type.2 %}checked{% endif %}>
                <label for="{{notification_type.0}}">{{notification_type.1}}</label>
            </div>
            {% endfor %}
        </div>
        <input type="submit" value="{% trans "Submit" %}">
    </form>
</div>
{% endblock %}