{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Topic finance" %}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt; <a href="{% url topic_list %}">{% trans "topics" %}</a> &gt;</p>
<h1>{% trans "Topic finance" %}</h1>
<table class="highlight_totals"><tr>
<th rowspan="2"><abbr title="{% trans "Grant" %}">{% filter slice:":2" %}{% trans "Grant" %}{% endfilter %}<abbr></th>
<th rowspan="2">{% trans "Topic" %}</th>
<th rowspan="2">{% trans "Tickets" %}</th>
<th colspan="3" class="smaller">{% trans "Amounts per payment status" %}</th>
{% if have_fuzzy %}<th rowspan="2"></td>{% endif %}
</tr>
<th>{% trans "unpaid" %}</th>
<th>{% trans "paid" %}</th>
<th>{% trans "overpaid" %}</th>
</tr>
{% for gitem in grants %}
	{% if not forloop.first %}<tr><td colspan="{% if have_fuzzy %}7{% else %}6{% endif %}"></td></tr>{% endif %}
	<tr><td rowspan="{{gitem.rows}}"><a href="{{gitem.grant.get_absolute_url}}" title="{{gitem.grant.full_name}}">{{gitem.grant.short_name}}</a></td>
	{% for titem in gitem.topics %}
		{% if not forloop.first %}<tr>{% endif %}
		<td><a href="{% url topic_detail titem.topic.id %}">{{titem.topic.name}}</a></td>
		<td>{{titem.topic.ticket_set.count}}</td>
		<td class="money payment_cell {% if titem.finance.unpaid %}unpaid{% else %}n_a{% endif %}">{{titem.finance.unpaid}}&nbsp;{{CURRENCY}}</td>
		<td class="money payment_cell{% if titem.finance.paid %} paid{% endif %}">{{titem.finance.paid}}&nbsp;{{CURRENCY}}</td>
		<td class="money payment_cell {% if titem.finance.overpaid %}overpaid{% else %}n_a{% endif %}">{{titem.finance.overpaid}}&nbsp;{{CURRENCY}}</td>
		{% if have_fuzzy %}<td>{% if titem.finance.fuzzy %}✱{% endif %}</td>{% endif %}
	</tr>
	{% endfor %}{# /topics #}
	<tr class="total highlight mid_total">
		<td colspan="2">{% blocktrans with gname=gitem.grant.short_name%}Total {{gname}}{% endblocktrans %}</td>
		<td class="money payment_cell">{{gitem.finance.unpaid}}&nbsp;{{CURRENCY}}</td>
		<td class="money payment_cell">{{gitem.finance.paid}}&nbsp;{{CURRENCY}}</td>
		<td class="money payment_cell">{{gitem.finance.overpaid}}&nbsp;{{CURRENCY}}</td>
		{% if have_fuzzy %}<td>{% if gitem.finance.fuzzy %}✱{% endif %}</td>{% endif %}
	</tr>
{% endfor %}{# /grant #}

<tr class="total first_total grand_total highlight">
	<td colspan="3">{% trans "Total" %}</td>
	<td class="money payment_cell">{{cluster_sums.unpaid}}&nbsp;{{CURRENCY}}</td>
	<td class="money payment_cell">{{cluster_sums.paid}}&nbsp;{{CURRENCY}}</td>
	<td class="money payment_cell">{{cluster_sums.overpaid}}&nbsp;{{CURRENCY}}</td>
	{% if have_fuzzy %}<td></td>{% endif %}
</tr>
<tr class="total">
	<td colspan="4">{% trans "Paid out in total" %}</td>
	<td colspan="2" style="text-align: center;">{{total_transactions}}&nbsp;{{CURRENCY}}</td>
	{% if have_fuzzy %}<td></td>{% endif %}
</tr>
</table>

{% if have_fuzzy %}<p>
✱ {% blocktrans %}Marked topics involve partial payments that have no clear relation to topic, and have been split equally among possible candidates.{% endblocktrans %}
</p>{% endif %}

{% endblock content %}
