{% extends "base.html" %}
{% load i18n adminmedia %}
{% load comments %}

{% block head %}{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="{% trans 'Latest tickets' %}" href="{% url topic_ticket_feed topic.id %}" />
<script src="{% admin_media_prefix %}js/jquery.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}hiding.js" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ topic.name }}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt; <a href="{% url topic_list %}">{% trans "topics" %}</a> &gt;</p>
<h1>{{ topic.name }}</h1>

{% if topic.description %}<div>{{ topic.description|safe|linebreaks }}</div>{% endif %}

{% if topic.open_for_tickets %}<p>{% trans "Topic is open for new tickets" %}{% if user.is_authenticated %}: <a href="{% url create_ticket %}?topic={{topic.id}}">{% trans "add ticket" %}</a>{% else %}.{% endif %}</p>{% endif %}

{% with admins=topic.admin.all %}{% if admins %}
<p>{% if admins.count > 1 %}{% trans "Topic administrators" %}{% else %}{% trans "Topic administrator" %}{% endif %}: {% for admin in admins %}{{ admin.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endif %}{% endwith %}

{% if topic.ticket_set.all|length > 0 %}
<h2>{% trans "Tickets" %}</h2>
{% with ticket_list=topic.ticket_set.all show_details=topic.detailed_tickets %}{% include "tracker/ticket_table.html" %}{% endwith %}
{% endif %}

{% get_comment_count for topic as comment_count %}
{% if comment_count %}
<h2>{% trans "Comments" %} ({{comment_count}})</h2>
{% render_comment_list for topic %}
{% else %}
<h2>{% trans "Comments" %}</h2>
<p>{% trans "There are no comments yet." %}</p>
{% endif %}

<div class="hide-switch"><a href="#" class="unhide">{% trans "Add comment" %}</a>
<div class="hidden">
<h3>{% trans "Add comment" %}</h3>
{% render_comment_form for topic %}
</div></div>

{% endblock content %}
