{% extends "base.html" %}
{% load i18n trackertags %}

{% block title %}{% trans "Transaction list" %}{% endblock %}

{% block head %}{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="{% trans 'Latest transactions' %}" href="{% url transactions_feed %}" />
{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt;</p>
<h1>{% trans "Transaction list" %}</h1>

{% if transaction_list %}
<table><tr><th>{% trans "Date" %}</th><th>{% trans "User" %}</th><th>{% trans "Amount" %}</th><th>{% trans "Description" %}</th><th>{% trans "Tickets" %}</th><th>{% trans "Grant" %}</th><th>{% trans "Accounting info" %}</th></tr>
{% for t in transaction_list %}
<tr><td>{{t.date}}</td><td>{{t.other_party_html}}</td><td class="money">{{t.amount|money}}</td><td>{{t.description}}</td>
<td>{% for ticket in t.tickets_by_id %}<a href="{{ticket.get_absolute_url}}" title="{{ticket.summary}} ({{ticket.sort_date}})">{{ticket.id}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
<td>{% for grant in t.grant_set %}<a href="{{grant.get_absolute_url}}" title="{{grant.full_name}}">{{grant.short_name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
<td>{{t.accounting_info}}</td></tr>
{% endfor %}
<tr class="total first_total"><td colspan="2">{% trans "Transactions total" %}</td><td class="money">{{total|money}}</td><td></td><td></td><td></td><td></td></tr></table>
{% else %}
<p>{% trans "No transactions available." %}</p>
{% endif %}
<p><a href="{% url transactions_csv %}">{% trans "download as csv" %}</a></p>
{% endblock content %}
