{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Transaction list" %}{% endblock %}

{% block head %}{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="{% trans 'Latest transactions' %}" href="{% url transactions_feed %}" />
{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt;</p>
<h1>{% trans "Transaction list" %}</h1>

{% if transaction_list %}
<table><tr><th>{% trans "Date" %}</th><th>{% trans "User" %}</th><th>{% trans "Amount" %}</th><th>{% trans "Description" %}</th><th>{% trans "Tickets" %}</th><th>{% trans "Accounting info" %}</th></tr>
{% for t in transaction_list %}
<tr><td>{{t.date}}</td><td><a href="{% url user_detail t.other.username %}">{{t.other}}</a></td><td>{{t.amount}} {{t.currency}}</td><td>{{t.description}}</td>
<td>{% for ticket in t.tickets_by_id %}<a href="{{ticket.get_absolute_url}}" title="{{ticket.summary}} ({{ticket.sort_date}})">{{ticket.id}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
<td>{{t.accounting_info}}</td></tr>
{% endfor %}
<tr class="total first_total"><td colspan="3">{% trans "Transactions total" %}</td><td>{{total}} {{currency}}</td><td></td><td></td></tr></table>
{% else %}
<p>{% trans "No transactions available." %}</p>
{% endif %}
{% endblock content %}
