{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Upload document" %}: {{ticket.summary}}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt; <a href="{% url ticket_detail ticket.id %}">{{ticket.summary}}</a> &gt; <a href="{% url edit_ticket ticket.id %}">{% trans "edit" %}</a> &gt; <a href="{% url edit_ticket_docs ticket.id %}">{% trans "documents" %}</a></p>
<h1>{% trans "Upload document" %}: {{ticket.summary}}</h1>

<form action="{% url upload_ticket_doc ticket.id %}" method="POST" enctype="multipart/form-data">
{% for field in upload %}
<p class="field_{{field.name}}{% if field.field.required %} required{% endif %}">{{field.errors.as_ul}}<label for="id_{{ field.name }}">{{ field.label }}:</label> {{ field }}<span class="helptext">{{ field.help_text }}</span></p>
{% if field.name == "topic" %}<p id="topic_desc"></p>{% endif %}
{% endfor %}

{% csrf_token %}
<input type="submit" value="{{ submit|default:_("submit") }}" />
<p>{% blocktrans with mark='<span style="color:red">*</span>' %}Fields marked with {{mark}} are required.{% endblocktrans %}</p>
</form>

{% endblock content %}
