{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "User list" %}{% endblock %}

{% block content %}
<p class="nav"><a href="{% url ticket_list %}">{% trans "index" %}</a> &gt;</p>
<h1>{% trans "User list" %}</h1>

<table>
<tr><th rowspan="2">{% trans "User" %}</th><th rowspan="2">{% trans "Tickets" %}<th colspan="2">{% trans "Media" %}</th><th colspan="2">{% trans "Expeditures" %}</th><th rowspan="2">{% trans "Transactions total" %}</th><th rowspan="2">{% trans "Balance" %}</th></tr>
<tr><th><abbr title="{% trans "Item count" %}">{% trans "Itm." %}</abbr></th><th><abbr title="{% trans "File count" %}">{% trans "Fil." %}</abbr></th><th>{% trans "Total" %}</th><th>{% trans "Accepted" %}</th></tr>

{% for u in user_list %}
<tr><td><a href="{{u.get_absolute_url}}">{{u}}</a></td><td>{{u.ticket_set.count|default:""}}</td><td>{{u.media_count.objects|default:""}}</td><td>{{u.media_count.media|default:""}}</td><td>{% if u.expeditures.amount %}{{u.expeditures.amount}} {{currency}}{% endif %}</td><td>{% if u.accepted_expeditures %}{{u.accepted_expeditures}} {{currency}}{% endif %}</td><td>{% if u.transactions.amount %}{{u.transactions.amount}} {{currency}}{% endif %}</td><td>{% if u.balance != 0 %}{{u.balance}} {{currency}}{% endif %}</td></tr>
{% endfor %}

<tr class="total first_total"><td>{% trans "Total" %}&nbsp;¹</td><td>{{totals.ticket_count}}</td><td>{{totals.media.objects}}</td><td>{{totals.media.media}}</td><td>{{totals.expeditures.total}} {{currency}}</td><td>{{totals.expeditures.accepted}} {{currency}}</td><td>{{totals.transactions}} {{currency}}</td><td></td></tr>

</table>

<p>¹&nbsp;{% trans "Including tickets not assigned to any user" %}</p>
{% endblock content %}