{% extends "base.html" %}
{% load i18n trackertags %}

{% block title %}{{ user_obj }}{% endblock %}
{# note: "user" is used to identify user session, so "user_obj" is the user we're looking at #}

{% block content %}
<p class="nav"><a href="{% url "ticket_list" %}">{% trans "index" %}</a> &gt; <a href="{% url "user_list" %}">{% trans "users" %}</a> &gt;</p>
{% if user == user_obj %}<p class="tools screenonly"><a href="{% url "create_ticket" %}">{% trans "Create new ticket" %}</a></p>{% endif %}
<h1>{{ user_obj }}</h1>

{% if ticket_list %}
{% include "tracker/ticket_table.html" with show_topics="True" show_media="True" show_expenses="True" summary_item=user_obj.trackerprofile total_desc=_("Total for this user") total_colspan=4 %}
{% else %}
<p>{% trans "No tickets available." %}</p>
{% endif %}

{% if user_obj.transaction_set.count > 0 %}
<h2>{% trans "Transactions" %}</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr><th>{% trans "Date" %}</th><th>{% trans "Description" %}</th><th>{% trans "Amount" %}</th><th>{% trans "Tickets" %}</th><th>{% trans "Accounting info" %}</th></tr>
    </thead>
    <tbody>
        {% for item in user_obj.transaction_set.all %}
        <tr><td>{{item.date}}</td><td>{{item.description}}</td><td class="money">{{item.amount|money}}</td>
        <td>{% for ticket in item.tickets_by_id %}<a href="{{ticket.get_absolute_url}}" title="{{ticket.summary}} ({{ticket.sort_date}})">{{ticket.id}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td>{{item.accounting_info}}</td></tr>{% endfor %}
        <tr class="total first_total"><td colspan="2">{% trans "Transactions total" %}</td><td class="money">{{user_obj.trackerprofile.transactions.amount|money}}</td><td></td><td></td></tr>
        <tr class="total"><td colspan="2">{% trans "Accepted expeditures total" %}</td><td class="money">{{user_obj.trackerprofile.accepted_expeditures|money}}</td><td></td><td></td></tr>
        </table>
    </tbody>
{% endif %}

{% endblock content %}
