{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% if mute %}
{% trans "Mute notifications" %}
{% else %}
{% trans "Watch" %} {{objecttype}}: {{object}}
{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if mute %}
    {% trans "Mute notifications" %}
    {% else %}
    {% trans "Watch" %} {{objecttype}}: {{object}}
    {% endif %}
</h1>
<div class="container">
    <form enctype="multipart/form-data" class="form-horizontal" method="POST">
        {% csrf_token %}
        {% if mute %}
        {% trans "What events you want to mute?" %}
        {% else %}
        {% trans "What events you want to watch?" %}
        {% endif %}
        <div class="form-groups">
            {% for notification_type in notification_types %}
            <div class="row">
                <input type="checkbox" name="{{notification_type.0}}" id="{{notification_type.0}}" {% if notification_type.2 %}checked{% endif %}>
                <label for="{{notification_type.0}}">{{notification_type.1}}</label>
            </div>
            {% endfor %}
        </div>
        <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}">
    </form>
</div>
{% endblock %}