{% load i18n %}
{% autoescape off %}
{% if ticket_new_notifs.count > 0 %}
<h1>Seznam nových ticketů</h1>
<ul>
    {% for notif in ticket_new_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if ack_notifs.count > 0 %}
<h1>Změna stavu sledovaných tiketů</h1>
<ul>
    {% for notif in ack_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if supervisor_notes_notifs.count > 0 %}
<h1>Změna poznámek schvalovatele u sledovaných ticketů</h1>
<ul>
    {% for notif in supervisor_notes_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if preexpeditures_notifs.count > 0 %}
<h1>Změna sledovaného tiketu</h1>
<ul>
    {% for notif in ticket_change_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if preexpeditures_notifs.count > 0 %}
<h1>Změna plánovaných výdajů u sledovaných tiketů</h1>
<ul>
    {% for notif in preexpeditures_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if expeditures_notifs.count > 0 %}
<h1>Změna reálných výdajů u sledovaných tiketů</h1>
<ul>
    {% for notif in expeditures_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if media_notifs.count > 0 %}
<h1>Změna médií u sledovaných tiketů</h1>
<ul>
    {% for notif in media_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}


{% if comment_notifs.count > 0 %}
<h1>Seznam přidaných komentářů k sledovaným ticketům</h1>
<ul>
    {% for notif in comment_notifs %}
    <li>{{notif.fired}}: {{notif}}</li>
    {% endfor %}
</ul>
{% endif %}

-- <br>
<a href="{{ABSOLUTE_URL}}">Tracker notifikace</a>
{% endautoescape %}