.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}
table th, table td { padding: 0 0.2em 0 0.2em; }
table th { font-weight: normal; background-color: #eee; border-bottom: 2px solid black; padding-bottom: 2px; }
table th.uber-th { border-bottom: 1px dashed #ddd; }
table td { border-bottom: 1px solid black; }
table tr:hover td { background-color: #ddd; }
#user { text-align: right; }
abbr[title] { border-bottom: dotted 1px black; }
tr.highlight td { background-color: #eee; }
tr.total td { font-weight: bold; }
tr.mid_total td { border-top: 1px solid #666; }
tr.first_total td { border-top: 2px solid black; }
tr.grand_total td { border-bottom: double 3px black; }
.ticket_list tr.total td { border-top: 2px solid black; }
.hide-switch > .unhide { display: none; }
.hiddencomment { display: none; }
.tools { float: right; padding:0.3em; background-color:#eee; }
body > div > p.tools.screenonly {
	background-color: unset !important;
}

span.helptext { display: block; }
.helptext { font-size: smaller; color: #666; }

.smaller { font-size: smaller; }

.field_topic { margin-bottom: 0; }
#topic_desc { margin: 0 0 0 7em; font-size: smaller; color: #666; border-left: solid 2px #666; padding: 0.7em 0 0 0.3em; }

p.required label { font-weight: bold; }
p.required label:before { padding-right: 0.2em; content: '*'; color: red; }
th.required { font-weight: bold; }
th.required:after { padding-left: 0.2em; content: "*"; color: red; }

.datetimeshortcuts img { border: none; }
.calendarbox { background-color: white; border: 1px solid #ddd; }
.calendarnav-next { float: right; }
.calendarnav-previous, .calendarnav-next { padding: 0 1em 0 1em; background-color: #ddd; }
.calendar-shortcuts { font-size: smaller; text-align: center; }
.calendar-cancel { text-align: right; margin: 0.2em 0 0 0; }
.calendar-cancel a { color: red; font-size: smaller; }
.calendar-cancel a:hover { background-color: red; color: black; }

.empty-form { display:none; }
td.money { text-align:right; }

#ticket_id { display:none; }

.payment_class_n_a .payment_status, .payment_cell.n_a { color: #999; }
.payment_class_unpaid .payment_status, .payment_class_partially_paid td.payment_status, .payment_cell.unpaid, .payment_cell.partially_paid { background-color: #feffc5; }
.payment_class_paid .payment_status, .payment_cell.paid { background-color: #96fd7e; }
.payment_class_overpaid .payment_status, .payment_cell.overpaid { background-color: #ff7878; }

@media print {
	#user, .nav, .screenonly { display:none; }
	#ticket_id { font-size:26pt; font-weight:bold; text-align:right; display:block !important;}
	#media_list li { list-style-type:none; display:inline; }
	#media_list li:after { content:";"; }
	.comments_empty, .comments_add { display:none; }
}

fieldset.noframe { border: none; padding: 0; }

.paginator { list-style: none; padding-left: 0; }
.paginator .page { display: inline; border: 1px solid #ccc; padding: 0.3em 0.7em; }
.paginator .page.selected { background-color: #ccc; }
.paginator.top { float: right; }
.paginator.bottom { text-align: center; }

input[type="submit"] {
	margin-top: 20px;
}

.uploadformlabel {
	text-transform: capitalize;
}
